{% extends "base.html" %}

{% block title %}
Ciudadanos Habilitados
{% endblock %}

{% block content %}

<div class="mb-4">

    <h2 class="fw-bold">
        Ciudadanos Habilitados
    </h2>

    <p class="text-muted">
        Listado de ciudadanos autorizados para participar en las elecciones.
    </p>

</div>

<div class="card shadow-sm">

    <div class="card-body">

        <table class="table table-hover">

            <thead class="table-success">

                <tr>

                    <th>CI</th>
                    <th>Nombre Completo</th>
                    <th>Departamento</th>
                    <th>Estado</th>

                </tr>

            </thead>

            <tbody>

                <tr>

                    <td>1234567 LP</td>
                    <td>Carlos Quispe Mamani</td>
                    <td>La Paz</td>

                    <td>
                        <span class="badge bg-success">
                            Habilitado
                        </span>
                    </td>

                </tr>

                <tr>

                    <td>2345678 CB</td>
                    <td>María Flores Choque</td>
                    <td>Cochabamba</td>

                    <td>
                        <span class="badge bg-success">
                            Habilitado
                        </span>
                    </td>

                </tr>

            </tbody>

        </table>

    </div>

</div>

{% endblock %}