{% extends "base.html" %}

{% block title %}Verificar Recibo{% endblock %}

{% block content %}

<h2 class="fw-bold mb-4">

    Verificación de Recibo

</h2>

<div class="card">

    <div class="card-body">

        <form>

            <div class="mb-3">

                <label>
                    Código del Recibo
                </label>

                <input
                    type="text"
                    class="form-control">

            </div>

            <button
                class="btn btn-primary">

                Verificar

            </button>

        </form>

    </div>

</div>

{% endblock %}