{% extends "base.html" %}

{% block title %}Recibo de Voto{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card text-center">

            <div class="card-body">

                <h2 class="text-success">
                    Voto Registrado
                </h2>

                <p>
                    Su voto fue registrado correctamente.
                </p>

                <hr>

                <h5>Hash del Bloque</h5>

                <code>
                    a52d465f89a31b7d8f654f9a2f5e41ab9e
                </code>

            </div>

        </div>

    </div>

</div>

{% endblock %}